@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');


body {
  margin: 0px;
  background-image: url("backtel.png");
}

.bandeau,
.histoire,
.formation,
.phrase,
.slogan,
.gridbouton,
.citation__phrase {
  font-family: "Catamaran", sans-serif;
  font-weight: 700 ;
}

.source,
.txtcarre,
.citation__source {
  font-family: "Catamaran", sans-serif;
  font-weight: 400 ;
}

/*Bandeau */
.bandeau {
  width: auto;
  height: 77px;
  background-color: #e14141;
}

.flex{
  display:flex;
  flex-direction: row;

}

.pseudo {
  margin-top: 28px;
  font-size: 17px;
}

.logo {
  text-align: center;
  margin: 13px;
  height: 50px;
}

.reseauxsociaux{
  margin-left: 30px;
}

.ressoc {
  margin-top: 30px;
  width: 20px;
}

.pp {
  border-radius: 100%;
  margin-top: 25px;
  height: 150px;
  margin-left: 5px;

}

/*Histoire*/

.recthistoire {
  display: grid;
  grid-template-columns: 0.1fr 2fr 0.1fr;
  margin-top: 120px;
}

.histoire {
  background-color: #000526;
  border-radius: 10px;
  grid-area: 1 / 2 / 4 / 3;
}

.textehistoire {
  margin: 20px;
  margin-left: -10px;
  font-size: 14px;
  color: white;

}

/*Formation*/

.rectformation {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-auto-rows: 1fr;
  margin-top: 410px;
  padding-bottom:  80px;
}

.formation {
  background-color: white;
  border-radius: 10px;
  grid-area: 1 / 2 / 4 / 3;
}

.texteformation {
  margin: 20px;
  margin-left: -10px;
  font-size: 15px;
  color: #e14141;
}

/* Citations */

.citespace{
  padding-bottom: 80px;
}

.citation__group {
  margin-top: 71px;
  background: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.citation__group--left {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 70%;
}

.citation__group--right {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 70%;
  position: absolute;
  right: 0;
}

.citation__phrase {
  color: #1f2f5d;
  text-align: center;
}

.citation__source {
  text-align: center;
  margin-top: -10px;
  font-size: 15px;
  color: #e14141;
}

/* Bloc info 3 */

.zoneslogan {
  margin-top: 580px;
}

.slogan {
  color: #1f2f5d;
  text-align: center;
  font-size: 26px;
}

.zonecercle {
  text-align: center;
}

.cercle {
  height: 20px;
}

#carrecouleur {
  display: grid;
  margin-top: 20px;
  grid-auto-columns: repeat(3, 1fr);
  margin-bottom: 4px;
}

#carre1 {
  background-color: #e14141;
  grid-area: 1 / 1 / 2 / 2;
  height: 120px;
  width: auto;
}

#carre2 {
  background-color: #000526;
  grid-area: 1 / 2 / 2 / 3;
  height: 120px;
  width: auto;
}

#carre3 {
  background-color: #1f2f5d;
  grid-area: 1 / 3 / 2 / 4;
  height: 120px;
  width: auto;
}

.txtcarre {
  color: white;
  text-align: center;
  margin-top: 50px;
}

/**/

.rectbluemarin {
  height: 286px;
  background-color: #000526;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* boutons */
/* 2128 */

.gridbouton {
  display: grid;
  margin-top: 42px;
  grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr;
}

.portfolio {
  width: 151px;
  height: 38px;
  grid-area: 1 / 2 / 2 / 3;
  background-color: #1f2f5d;
}

.txtbouton {
  color: white;
  margin-top: 8px;
  text-align: center;
}

.contact {
  width: 151px;
  height: 38px;
  grid-area: 1 / 4 / 2 / 5;
  background-color: #1f2f5d;
}

/*footer*/

.footer {
  height: 42px;
  width: auto;
  text-align: center;
  background-color: #101010;
}

.signature {
  margin-top: 3px;
  height: 30px;
}


/*Format PC */

@media (min-width: 1280px) {

body {
  margin: 0px;
  background-image: url("back2.png");
  background-size:cover;
  background-repeat: no-repeat;
}

.bandeau,
.histoire,
.formation,
.phrase,
.slogan,
.gridbouton,
.citation__phrase {
  font-family: "Catamaran", sans-serif;
  font-weight: 700 ;
}

.source,
.txtcarre,
.citation__source {
  font-family: "Catamaran", sans-serif;
  font-weight: 400 ;
}

/*Bandeau */
.bandeau {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 154px;
  background-color: #e14141;
}

.pseudo {
  margin-top: 50px;
  margin-left: -1050px;
  margin-right: 1350px;
  font-size: 34px;
}

.logo {
  text-align: center;
  margin-top: 25px;
  margin-left: 1000px;
  height: 100px;
}

.ressoc {
  margin-top: 60px;
  position: relative;
  left:1250px;
  width: 40px;
}


/*Histoire*/

.gridinfo1 {
  display: grid;
  grid-template-columns: 6em 0.2fr 1fr 6em;
  grid-template-areas: ". photo histoire .";

}

.pp{
  border-radius: 100%;
  margin-top: 31%;
  grid-area: photo;
  margin-left: -1400px;
  height: 405px;

}

.histoire {
  background-color: #000526;
  border-radius: 10px;
  margin-left: 27%;
  margin-right: 20px;
  margin-top: -80px;
  grid-area: histoire;
}

.textehistoire {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 30px;
  margin-bottom: 20px;
  font-size:20px;
  color: white;

}

/*Formation*/

.rectformation {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-auto-rows: 1fr;
  margin-top: 820px;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom:  100px;
}

.formation {
  background-color: white;
  border-radius: 10px;
  grid-area: 1 / 2 / 4 / 3;
}

.texteformation {
  margin: 20px;
  margin-left: 30px;
  font-size: 40px;
  color: #e14141;
}

/* Citations */

.citespace{
  padding-bottom: 100px;
}

.citation__group {
  margin-top: 71px;
  background: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.citation__group--left {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 70%;
}

.citation__group--right {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 70%;
  position: absolute;
  right: 0;
}

.citation__phrase {
  color: #1f2f5d;
  text-align: center;
  font-size: 50px;
}

.citation__source {
  text-align: center;
  margin-top: -10px;
  font-size: 30px;
  color: #e14141;
}

/* Bloc info 3 */

.zoneslogan {
  margin-top: 1200px;
}

.slogan {
  color: #1f2f5d;
  text-align: center;
  font-size: 52px;
}

.zonecercle {
  text-align: center;
}

.cercle {
  height: 30px;
  padding-bottom: 20px;
}

#carrecouleur {
  display: grid;
  margin-top: 20px;
  grid-auto-columns: repeat(3, 1fr);
  margin-bottom: 4px;
}

#carre1 {
  background-color: #e14141;
  grid-area: 1 / 1 / 2 / 2;
  height: 500px;
  width: auto;
}

#carre2 {
  background-color: #000526;
  grid-area: 1 / 2 / 2 / 3;
  height: 500px;
  width: auto;
}

#carre3 {
  background-color: #1f2f5d;
  grid-area: 1 / 3 / 2 / 4;
  height: 500px;
  width: auto;
}

.txtcarre {
  color: white;
  text-align: center;
  margin-top: 35%;
  font-size: 45px;
}

/**/

.rectbluemarin {
  height: 450px;
  background-color: #000526;
}

.prev {
  text-align: center;
}

.imgprev {
  height:300px;
  margin-top: 36px;
  border-radius: 10px;
}

/* boutons */
/* 2128 */

.gridbouton {
  display: flex;
  margin-left: 39%;
  margin-top: 42px;
  flex-direction: row;
}

.portfolio {
  width: 151px;
  height: 38px;
  background-color: #1f2f5d;
}

.txtbouton {
  color: white;
  margin-top: 8px;
  text-align: center;
}

.contact {
  width: 151px;
  height: 38px;
  margin-left: 100px;
  background-color: #1f2f5d;
}

/*footer*/

.footer {
  height: 42px;
  width: auto;
  text-align: center;
  background-color: #101010;
}

.signature {
  margin-top: 3px;
  height: 30px;
}
