@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');


body {
  margin: 0px;
  background-image: url("backtel.png");
}

.bandeau,
.histoire,
.formation,
.phrase,
.slogan,
.gridbouton,
.citation__phrase {
  font-family: "Catamaran", sans-serif;
  font-weight: 700 ;
}

.source,
.txtcarre,
.citation__source {
  font-family: "Catamaran", sans-serif;
  font-weight: 400 ;
}

/*Bandeau */
.bandeau {
  width: auto;
  height: 77px;
  background-color: #e14141;
}

.flex{
  display:flex;
  flex-direction: row;

}

.pseudo {
  margin-top: 28px;
  font-size: 17px;
}

.logo {
  text-align: center;
  margin: 13px;
  height: 50px;
}

.reseauxsociaux{
  margin-left: 30px;
}

.ressoc {
  margin-top: 30px;
  width: 20px;
}

.pp {
  border-radius: 100%;
  margin-top: 25px;
  height: 150px;
  margin-left: 5px;

}

/*Histoire*/

.recthistoire {
  display: grid;
  grid-template-columns: 0.1fr 2fr 0.1fr;
  margin-top: 120px;
}

.histoire {
  background-color: #000526;
  border-radius: 10px;
  grid-area: 1 / 2 / 4 / 3;
}

.textehistoire {
  margin: 20px;
  margin-left: -10px;
  font-size: 14px;
  color: white;

}

/*Formation*/

.rectformation {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-auto-rows: 1fr;
  margin-top: 410px;
  padding-bottom:  80px;
}

.formation {
  background-color: white;
  border-radius: 10px;
  grid-area: 1 / 2 / 4 / 3;
}

.texteformation {
  margin: 20px;
  margin-left: -10px;
  font-size: 15px;
  color: #e14141;
}

/* Citations */

.citespace{
  padding-bottom: 80px;
}

.citation__group {
  margin-top: 71px;
  background: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.citation__group--left {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 70%;
}

.citation__group--right {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 70%;
  position: absolute;
  right: 0;
}

.citation__phrase {
  color: #1f2f5d;
  text-align: center;
}

.citation__source {
  text-align: center;
  margin-top: -10px;
  font-size: 15px;
  color: #e14141;
}

/* Bloc info 3 */

.zoneslogan {
  margin-top: 580px;
}

.slogan {
  color: #1f2f5d;
  text-align: center;
  font-size: 26px;
}

.zonecercle {
  text-align: center;
}

.cercle {
  height: 20px;
}

#carrecouleur {
  display: grid;
  margin-top: 20px;
  grid-auto-columns: repeat(3, 1fr);
  margin-bottom: 4px;
}

#carre1 {
  background-color: #e14141;
  grid-area: 1 / 1 / 2 / 2;
  height: 120px;
  width: auto;
}

#carre2 {
  background-color: #000526;
  grid-area: 1 / 2 / 2 / 3;
  height: 120px;
  width: auto;
}

#carre3 {
  background-color: #1f2f5d;
  grid-area: 1 / 3 / 2 / 4;
  height: 120px;
  width: auto;
}

.txtcarre {
  color: white;
  text-align: center;
  margin-top: 50px;
}

/**/

.rectbluemarin {
  height: 286px;
  padding: 20px;
  background-color: #000526;
}

#i1, #i2, #i3, #i4{
	display: none;
}

.container{
		margin: 0 auto;
		margin-top: 20px;
		position: relative;
		width: 50%;
		padding-bottom: 285px;
	  user-select: none;
		background-color: #1f2f5d;
		border: solid 10px #1f2f5d;
		border-radius:10px ;
	}

	.container .slide_img{
		position: absolute;
		width: 100%;

	}
	.container .slide_img img{
		width: inherit;
		height: inherit;
	}

	 .prev, .next{
		width: 12%;
		height: inherit;
    margin-right: 20px;
		position: absolute;
		top:45%;
		background-color: rgba(88, 88, 88,.2);
		color:rgba(244, 244, 244,.9);
		z-index: 99;
		transition: .45s;
		cursor: pointer;
		text-align: center;
	}

	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .3s;
		background-color: rgba(88, 88, 89,.8);
		color: #ffffff;
	}

.container #nav_slide{
	width: 100%;
	bottom: 3%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	top: -5px;
	width: 18px;
	height: 18px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.9);
	transition: .25s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: rgba(255,255,255,.9);}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}

@media screen and (max-width: 685px){
	.container{
		border: none;
		width: 100%;
		height: 0;
		padding-bottom: 41%;
	}

	label span { font-size: 50pt; }

	.prev, .next{
		width: 15%;
	}
	#nav_slide .dots{
		width: 12px;
		height: 12px;
	}
}
@media screen  and(min-width: 970px){
	.me{ display: none;}
}

/* boutons */
/* 2128 */

.gridbouton {
  display: grid;
  margin-top: 42px;
  grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr;
}

.portfolio {
  width: 151px;
  height: 38px;
  grid-area: 1 / 2 / 2 / 3;
  background-color: #1f2f5d;
}

.txtbouton {
  color: white;
  margin-top: 8px;
  text-align: center;
}

.contact {
  width: 151px;
  height: 38px;
  grid-area: 1 / 4 / 2 / 5;
  background-color: #1f2f5d;
}

/*footer*/

.footer {
  height: 42px;
  width: auto;
  text-align: center;
  background-color: #101010;
}

.signature {
  margin-top: 3px;
  height: 30px;
}


/*Format PC */

@media (min-width: 1280px) {

body {
  margin: 0px;
  background-image: url("back2.png");
  background-size:cover;
  background-repeat: no-repeat;
}

.bandeau,
.histoire,
.formation,
.phrase,
.slogan,
.gridbouton,
.citation__phrase {
  font-family: "Catamaran", sans-serif;
  font-weight: 700 ;
}

.source,
.txtcarre,
.citation__source {
  font-family: "Catamaran", sans-serif;
  font-weight: 400 ;
}

/*Bandeau */
.bandeau {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 154px;
  background-color: #e14141;
}

.pseudo {
  margin-top: 50px;
  margin-left: -930px;
  margin-right: 1350px;
  font-size: 34px;
}

.logo {
  text-align: center;
  margin-top: 25px;
  margin-left: 900px;
  height: 100px;
}

.ressoc {
  margin-top: 60px;
  position: relative;
  left:1060px;
  width: 40px;
}


/*Histoire*/

.gridinfo1 {
  display: grid;
  grid-template-columns: 6em 0.2fr 1fr 6em;
  grid-template-areas: ". photo histoire .";

}

.pp{
  border-radius: 100%;
  margin-top: 24%;
  grid-area: photo;
  margin-left: -1450px;
  margin-right: 220px;
  height: 405px;

}

.histoire {
  background-color: #000526;
  border-radius: 10px;
  margin-left: 27%;
  margin-right: 20px;
  margin-top: -80px;
  grid-area: histoire;
}

.textehistoire {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 30px;
  margin-bottom: 20px;
  font-size:20px;
  color: white;

}

/*Formation*/

.rectformation {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-auto-rows: 1fr;
  margin-top: 1000px;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom:  100px;
}

.formation {
  background-color: white;
  border-radius: 10px;
  grid-area: 1 / 2 / 4 / 3;
}

.texteformation {
  margin: 20px;
  margin-left: 30px;
  font-size: 40px;
  color: #e14141;
}

/* Citations */

.citespace{
  padding-bottom: 100px;
}

.citation__group {
  margin-top: 71px;
  background: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.citation__group--left {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 70%;
}

.citation__group--right {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 70%;
  position: absolute;
  right: 0;
}

.citation__phrase {
  color: #1f2f5d;
  text-align: center;
  font-size: 50px;
}

.citation__source {
  text-align: center;
  margin-top: -10px;
  font-size: 30px;
  color: #e14141;
}

/* Bloc info 3 */

.zoneslogan {
  margin-top: 1200px;
}

.slogan {
  color: #1f2f5d;
  text-align: center;
  font-size: 52px;
}

.zonecercle {
  text-align: center;
}

.cercle {
  height: 30px;
  padding-bottom: 20px;
}

#carrecouleur {
  display: grid;
  margin-top: 20px;
  grid-auto-columns: repeat(3, 1fr);
  margin-bottom: 4px;
}

#carre1 {
  background-color: #e14141;
  grid-area: 1 / 1 / 2 / 2;
  height: 500px;
  width: auto;
}

#carre2 {
  background-color: #000526;
  grid-area: 1 / 2 / 2 / 3;
  height: 500px;
  width: auto;
}

#carre3 {
  background-color: #1f2f5d;
  grid-area: 1 / 3 / 2 / 4;
  height: 500px;
  width: auto;
}

.txtcarre {
  color: white;
  text-align: center;
  margin-top: 35%;
  font-size: 45px;
}

/**/

.rectbluemarin {
  height: 450px;
  background-color: #000526;
}

#i1, #i2, #i3, #i4{
	display: none;
}

.container{
		margin: 0 auto;
		margin-top: 20px;
		position: relative;
		width: 50%;
		padding-bottom: 310px;
	  user-select: none;
		background-color: #1f2f5d;
		border: solid 10px #1f2f5d;
		border-radius:10px ;
	}

	.container .slide_img{
		position: absolute;
		width: 100%;

	}
	.container .slide_img img{
		width: inherit;
		height: inherit;
	}

	 .prev, .next{
		width: 12%;
		height: inherit;
    margin-right: 20px;
		position: absolute;
		top:45%;
		background-color: rgba(88, 88, 88,.2);
		color:rgba(244, 244, 244,.9);
		z-index: 99;
		transition: .45s;
		cursor: pointer;
		text-align: center;
	}

	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .3s;
		background-color: rgba(88, 88, 89,.8);
		color: #ffffff;
	}

.container #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	top: -5px;
	width: 18px;
	height: 18px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.9);
	transition: .25s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: rgba(255,255,255,.9);}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}

@media screen and (max-width: 685px){
	.container{
		border: none;
		width: 100%;
		height: 0;
		padding-bottom: 55%;
	}

	label span { font-size: 50pt; }

	.prev, .next{
		width: 15%;
	}
	#nav_slide .dots{
		width: 12px;
		height: 12px;
	}
}
@media screen  and(min-width: 970px){
	.me{ display: none;}
}

/* boutons */
/* 2128 */

.gridbouton {
  display: flex;
  margin-left: 39%;
  margin-top: 42px;
  flex-direction: row;
}

.portfolio {
  width: 151px;
  height: 38px;
  background-color: #1f2f5d;
}

.txtbouton {
  color: white;
  margin-top: 8px;
  text-align: center;
}

.contact {
  width: 151px;
  height: 38px;
  margin-left: 100px;
  background-color: #1f2f5d;
}

/*footer*/

.footer {
  height: 42px;
  width: auto;
  text-align: center;
  background-color: #101010;
}

.signature {
  margin-top: 3px;
  height: 30px;
}
